.App {
  min-height: 100vh;
  background: linear-gradient(to right,  #1e5799 0%,#207cca 62%,#7db9e8 100%);
}

.chat-container{
  height: 100vh;
  padding: 10px;
}

.header-container{
  padding: 15px;
}

.header-icon{
  font-size: 20px;
  border-radius: 50%;
  border: 1px solid white;
  padding: 6px;
  background: #1f6eb7;
  color: white;
}

.header-text{
  font-weight: 300;
  margin-left: 10px;
  font-size: 28px;
  color: white;
}

.chat-body{
  height: 50vh;
  overflow: auto;
}

.message{
  padding: 10px;
  margin: 8px 5px;
  color: white;
  width: fit-content;
  max-width: 60%;
  text-align: left;
  border-radius: 16px;
}


.chat-input-container{
  flex-grow: 0.9
}

.chat-input{
  width: 100%;
  padding: 12px;
  border-radius: 16px;
  box-shadow: 0px 0px 3px 1px #9e9c9c;
  border: 0px;
}

.chat-input:focus{
  outline: none;
}

.send-btn-container{
  flex-grow: 0.1;
  text-align: center;
}

.send-btn-icon{
  font-size: 15px;
}

.chat-end-info{
  background: #efefef;
  padding: 12px;
  width: 100%;
}
